@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

.container-section {
  @apply mb-28 max-w-[50rem] text-center sm:mb-0 scroll-mt-[100rem] relative w-full flex flex-col items-center justify-center;
}

.bg-hero {
  background-size: cover;
  background-repeat: no-repeat;
}


.card-services {
  @apply flex flex-col items-center justify-center gap-2 p-3
}

.btn-contact {
  @apply w-[15rem] bg-amber-400 hover:bg-amber-500 text-white text-3xl font-bold py-2 px-4 rounded-xl
}

.call-us-red {
  @apply text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900
}

.call-us-sky {
  @apply text-sky-700 hover:text-white border border-sky-700 hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-sky-500 dark:text-sky-500 dark:hover:text-white dark:hover:bg-sky-600 dark:focus:ring-sky-900
}

.hero__text-p {
  @apply text-xl italic bg-opacity-80 px-4 py-2 bg-white sm:rounded-full
}



